* {
  padding: 0px;
  margin: 0px;
}

.header {
  height: 56px;
  width: 428px;
  background: #a77c5d;
  display: flex;
}

.header_vector {
  height: 10px;
  width: 15px;
  margin-left: 15px;
  margin-top: 20px;
}

.header_title {
  height: 28px;
  width: 70px;
  margin-left: 18px;
  margin-top: 12px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

main {
  background: #e5e5e5;
  width: 428px;
  height: 683px;
  padding-top: 23px;
}
.main_inputName__input,
.main_inputSpecies__input,
.main_inputBirthday__input {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 11px;
  margin-left: 15px;
}

.main_inputName,
.main_inputSpecies,
.main_inputBirthday {
  display: flex;
  height: 48px;
  width: 400px;
  margin-left: 13px;
  border-radius: 8px;
  border: 1px solid #a77c5d;
}
.main_inputSpecies,
.main_inputBirthday {
  margin-top: 38px;
}

.main_input__arrow {
  width: 24px;
  height: 24px;
  margin-right: -2px;
  margin-bottom: 12px;
}

.main_inputSpecies__arrow,
.main_inputBirthday__bag {
  height: 24px;
  width: 24px;
  margin-left: 293px;
  margin-top: 11px;
}

.main_inputSpecies {
  display: flex;
}

.main_inputBirthday__bag {
  height: 17px;
  width: 17px;
}
